
@{
    ViewBag.Title = "Index";
}

<h2>Listar Productos</h2>


<div class="input-group mb-3">
    <input type="text" class="form-control"
           id="txtnombreProducto"
           onkeyup="Buscar()"
           placeholder="Ingrese nombre producto" />
</div>

<div id="divtabla">
    Tabla
</div>

<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/producto.js"></script>


