
@{
    ViewBag.Title = "Index";
}

<h2>TipoHabitacion</h2>

<div class="input-group mb-3">
    <input type="text" 
           id="txtnombreTipoHabiacion"
           class="form-control" 
           placeholder="Ingrese Nombre Tipo Habitacion"
           />
    <button class="btn btn-primary" 
            onclick="Buscar()"
            type="button" 
            id="btnnombreTipoHabitacion"> Buscar</button>
</div>
   
<div id="divtabla">
    Tabla
</div>

<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/tipohabitacion.js"></script>